<td [class.highlight]="showHighlight" class="td">
  <div [style.background-color]="backgroundColor" class="circle">
    {{ contact?.name | slice: 0:1 }}
  </div>
  <span>
    {{ contact?.name }}
  </span>
</td>
<td [class.highlight]="showHighlight" class="td">
  {{ contact?.email }}
</td>
<td [class.highlight]="showHighlight" class="td">
  {{ contact?.tel }}
</td>
<td [class.highlight]="showHighlight" class="td">
  <svg-icon
    (click)="edit(index)"
    class="icon edit"
    src="assets/svg/icon-edit.svg"
  >
  </svg-icon>
  <svg-icon
    (click)="deleteContact(index)"
    class="icon delete"
    src="assets/svg/icon-delete.svg"
  ></svg-icon>
</td>
