<main class="main">
  <table class="contact-list-table">
    <thead class="thead">
      <tr class="table-row border-bottom-none">
        <th class="th">Contatos</th>
        <th class="th">E-mail</th>
        <th class="th">Telefone</th>
      </tr>
    </thead>
    <tbody *ngIf="!emptyResultsFound" class="tbody">
      <tr
        contact-item
        (sendContact)="sendContactData($event)"
        class="table-row"
        *ngFor="let contact of contacts; index as i"
        [contact]="contact"
        [index]="i"
      ></tr>
    </tbody>
    <div *ngIf="emptyResultsFound" class="empty-results">
      Nenhum resultado encontrado
    </div>
  </table>
</main>
