@import "../../../assets/css/font.scss";
@import "../../../assets/css/color.scss";

.main {
  display: flex;
  height: 100%;
}

.empty {
  margin: 112px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    margin: 24px 0;
    font-family: $font;
    text-align: center;
    color: $dark;
  }
}

.contact-list-table,
.thead {
  margin: 1rem auto;
}

.contact-list-table {
  width: calc(100% - 2rem);
}

.thead {
  color: $bluey-gray;
  font-family: $font;
  font-size: 0.813rem;
  border-radius: 4px;
}

.table-row {
  display: flex;
  background: $white-two;
  justify-content: space-between;
  border: 1px solid $white;
  overflow: hidden;
  border-collapse: separate;

  &.border-bottom-none {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    background-color: $very-light-pink;
  }
}

.th {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: 2.938rem;
    text-transform: capitalize;
  }
}

.th {
  padding: 1rem 0 0.563rem;
}
