@import "../../../assets/css/font.scss";
@import "../../../assets/css/color.scss";

.main {
  display: flex;
  height: 100%;
}

.empty {
  margin: 112px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    margin: 24px 0;
    font-family: $font;
    text-align: center;
    color: $dark;
  }
}

.contact-list-table,
.thead {
  margin: 1rem auto;
}

.contact-list-table {
  width: calc(100% - 2rem);
}

.thead {
  color: $bluey-gray;
  font-family: $font;
  font-size: 0.813rem;
  border-radius: 4px;
}

.table-row {
  width: 100%;
  display: flex;
  background: $white-two;
  justify-content: space-between;
  border: 1px solid $white;
  overflow: hidden;
  border-collapse: separate;

  &.border-bottom-none {
    border-radius: 4px 4px 0 0;
  }
}

.tbody .table-row {
  color: $dark;
  font-size: 0.875rem;
  position: relative;

  .td:last-child {
    position: absolute;
    width: auto;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}

.th,
.td {
  width: 100%;
  text-align: left;
  padding: 1rem 0 0.563rem;

  &:first-child {
    margin-left: 2.938rem;
  }
}

.icon {
  cursor: pointer;

  &.delete {
    margin-left: 1.5rem;
  }
}
