<div *ngIf="showModal" class="modal-background">
  <div class="modal">
    <h3 class="title">Criar novo contato</h3>
    <form [formGroup]="form" class="form">
      <div class="form-container">
        <label class="label name">Nome</label>
        <input formControlName="name" class="input" type="text" />
      </div>
      <div class="form-container email">
        <label class="label e-mail">E-mail</label>
        <input formControlName="email" class="input" type="text" />
      </div>
      <div class="form-container tel">
        <label class="label">Telefone</label>
        <input formControlName="tel" class="input tel" type="text" />
      </div>
    </form>
    <div class="buttons-container">
      <button class="button" (click)="close()">Cancelar</button>
      <button [disabled]="!form.touched || !form.dirty" class="button save">
        Salvar
      </button>
    </div>
  </div>
</div>
