@import "../../../assets/css/color.scss";

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 432px;
  background: $white-two;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 1rem 0;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
}

.title {
  padding-left: 1rem;
  padding-bottom: 0.781rem;
  border-bottom: 1px solid $cloudy-blue;
}
