<div *ngIf="open" class="modal-background">
  <div class="modal">
    <h3 class="title">{{ type | title }}</h3>
    <ng-container *ngIf="type === 'ADD' || type === 'EDIT'">
      <form [formGroup]="form" class="form">
        <div class="form-container">
          <label class="label name">Nome</label>
          <input formControlName="name" class="input" type="text" />
        </div>
        <div class="form-container email">
          <label class="label e-mail">E-mail</label>
          <input formControlName="email" class="input" type="text" />
        </div>
        <div class="form-container tel">
          <label class="label">Telefone</label>
          <input
            [mask]="mask"
            formControlName="telephone"
            class="input tel"
            type="text"
          />
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="type === 'DELETE'">
      <p class="delete-message">Deseja realmente excluir o usuário?</p>
    </ng-container>
    <div class="buttons-container">
      <button class="button" (click)="closeModal()">Cancelar</button>
      <button
        [disabled]="!form.dirty && type === 'ADD'"
        (click)="sendContactData()"
        class="button save"
      >
        {{ type === "DELETE" ? "Excluir" : "Salvar" }}
      </button>
    </div>
  </div>
</div>
