@import "../../../assets/css/color.scss";

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 432px;
  background: $white-two;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 1rem 0;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
}

.title {
  padding-left: 1rem;
  padding-bottom: 0.781rem;
  border-bottom: 1px solid $cloudy-blue;
}

.form {
  padding: 1.219rem 1.5rem 1.375rem 1.5rem;
  border-bottom: 1px solid $cloudy-blue;
}

.form-container {
  color: $dark;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;

  &.email {
    margin-top: 1rem;
  }

  &.tel {
    width: 128px;
    margin-top: 0.875rem;
  }
}

.delete-message {
  margin-top: 1.219rem;
  margin-left: 1.5rem;
  font-size: 0.875rem;
  color: $dark;
}

.input {
  border-radius: 4px;
  border: 1px solid $cloudy-blue;
  padding: 0.563rem 0 0.438rem 0.625rem;
  font-family: inherit;
  font-size: 0.875rem;
  color: $dark;

  &:focus {
    outline: none;
  }
}

.label {
  margin-bottom: 0.25rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.938rem;
  margin-right: 1rem;
}

.save {
  background-color: $salmon;
  color: $white-two;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  margin-left: 1rem;
}
