@import "./assets/css/font.scss";
@import "./assets/css/color.scss";

html,
body {
  height: 100%;
}

body {
  background: $base-color;
  font-family: $font;
  font-size: 100%;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: block;

  &:focus {
    outline: none;
  }
}
